<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<title>Notes</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn1{
    height:30px;
}
</style>

</head>
<body>
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <form id="memo" class="col s12">
                <div class="row">
                    <div class="input-field col s11">
                        <input id="memoname" name="memoname" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="memodata" name="memodata" class="materialize-textarea"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="">
        <div class="row">
            <button class="btn-floating btn-large waves-effect waves-light cyan" style="position:absolute;bottom:20px;right:80px;" id="close"><i class="material-icons postfix">close</i></button><button class="btn-floating btn-large waves-effect waves-light cyan" style="position:absolute;bottom:20px;right:10px;" id="submit"><i class="material-icons postfix">save</i></button>
        </div>
    </div>
</div>
<nav>
    <div class="nav-wrapper">
    <div id="name" style="margin-left: 30px"class="brand-logo"></div>
    <button class="btn waves-effect waves-light right" style="margin-right: 30px;margin-top: 15px;"id="logout">Logout</button>
    </div>
</nav>            
<div style="margin-top: 20px;">
    <ul class="collection">
    </ul>
</div>
<a style="position: absolute; bottom:30px;right:30px" onclick="openDialog();return false;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
<script>
    $(document).ready(function(){
        $('#logout').click('click',function(){
            var xhr=new XMLHttpRequest();
            xhr.open("GET","http://localhost:3000/logout",false);
            xhr.onreadystatechange=function(){
                    if(this.readyState==4){
                        x=JSON.parse(this.responseText)
                        if(x.code=="OK"){
                            window.location.href = '/';
                        } else{
                            swal({
                                title:"Error",
                                text:"Invalid details.",
                                type:"error"
                            });
                        }
                    }
                }
                xhr.send();
        });
        $(".modal").modal();
        document.getElementById('close').addEventListener('click',function(){
            $(".modal").modal("close");
        });
        document.getElementById('submit').addEventListener('click',function(){
            if(document.getElementById('memoname').value=="" || document.getElementById('memodata').value=="" || document.getElementById('memodata').value==undefined || document.getElementById('memoname').value==undefined ){
                console.log("Enter details")
            } else{
                var xhr=new XMLHttpRequest();
                xhr.open("POST","http://localhost:3000/addmemo",false);
                xhr.setRequestHeader('Content-Type','application/json');
                xhr.onreadystatechange=function(){
                    if(this.readyState==4){
                        x=JSON.parse(this.responseText)
                        if(x.code=="OK"){
                            $('.modal').modal("close");
                            getDash();
                        } else{
                            swal({
                                title:"Error",
                                text:"Invalid details.",
                                type:"error"
                            });
                        }
                    }
                }
                xhr.send(JSON.stringify({memoname:document.getElementById('memoname').value,memodata:document.getElementById('memodata').value,}));
            }
        });
        getDash();
   
    });

    function getDash(){
        var xhr=new XMLHttpRequest();
        xhr.open("GET","http://localhost:3000/dashboard",true);
        xhr.onreadystatechange=function(){
            if(this.readyState==4){
                var x=JSON.parse(this.responseText);
                if(x.code=="OK"){
                    console.log(x);
                    
                    var y=document.getElementsByClassName('collection')[0];
                    while (y.firstChild) {
                        y.removeChild(y.firstChild);
                    }
                    for(var i=0;i<x.resp.length;i++){
                        console.log(i)
                        $('.collection').append(`<div class="collection-item row">
                                <div class="" style="margin-left:30px;margin-top:20px;">${x.resp[i]}</div>
                                <button class="btn-floating btn waves-effect waves-light cyan" onclick="getData('${x.resp[i]}')" style="margin-right:30px;"><i class="material-icons">mode_edit</i></button>
                                <button class="btn-floating btn waves-effect waves-light cyan" onclick="deleteMemo('${x.resp[i]}')" style="margin-right:10px;"><i class="material-icons">delete</i></button>
                                </div>
                            </div>`
                        )
                    }                   
                    
                } else{
                    console.log(xhr);
                    swal({
                        title:"Error",
                        text:"Server Error.",
                        type:"error"
                    });
                }
            }
        }
        xhr.send();
    }

    function deleteMemo(name){
    var xhr=new XMLHttpRequest();
    xhr.open("POST","http://localhost:3000/deletememo",false);
    xhr.setRequestHeader('Content-Type','application/json');
    xhr.onreadystatechange=function(){
        if(this.readyState==4){
             x=JSON.parse(this.responseText)
            if(x.code=="OK"){
                getDash();
                } else{
                    swal({
                        title:"Error",
                        text:"An error occured.",
                        type:"error"
                    });
                }
            }
    }
    xhr.send(JSON.stringify({memoname:name}));
}
function getData(name){
    var xhr=new XMLHttpRequest();
    xhr.open("POST","http://localhost:3000/getmemo",true);
    xhr.setRequestHeader("Content-Type","application/json")
    xhr.onreadystatechange=function(){
        if(this.readyState==4){
            var x=JSON.parse(this.responseText);
            if(x.code=="OK"){
                document.getElementById('memoname').value=x.memo[0].memoname;
                document.getElementById('memodata').value=x.memo[0].data;
                $(".modal").modal("open");       
            } else{
                swal({
                    title:"Error",
                    text:"Invalid details.",
                    type:"error"
                });
            }
        }
    }
    xhr.send(JSON.stringify({memoname:name}));
}
function openDialog(){ 
    document.getElementById('memo').reset();
    $('.modal').modal("open")
}

</script>
</body>
</html>