<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<title>Notes</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    background-size: 200% 100% !important;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background: white;
    padding: 20px 25px;
    border: 5px solid #26a69a;
    width: 250px;
    border-radius: 10px;
    height: auto;
    box-sizing: border-box;
    position: relative;
}
</style>
</head>
<body>
    <div class="container z-depth-4">
    <div class="row">
        <div class="fixed">
            <div id="name-row" class="row">
                <div class="input-field col s12">
                <input id="name" placeholder="Enter name.." type="text" required>
                </div>
            </div>
            <div class="row">
                <button class="btn-floating btn waves-effect waves-light" style="margin:2px;background-color: #00bcd4" id="rcstart" type="button"><i class="material-icons">mic</i></button>
                <button class="btn-floating btn waves-effect waves-light" style="margin:2px;background-color: #00bcd4" id="rcstop" type="button"><i class="material-icons">mic_off</i></button>
                <a class="btn-floating btn waves-effect waves-light cyan" style="margin:2px"  href="" id="down" download="input.wav"><i class="material-icons">file_download</i></a>
                <button class="btn-floating btn waves-effect waves-light cyan" style="margin:2px" id="play" type="button"><i id="play-icon" class="material-icons">play_arrow</i></button>
            </div>
            <form id="form">
                <div class="row">
                        <div class = "file-field input-field">
                            <div class = "btn col s3 cyan" style="border-radius:50%;">
                                    <i class="material-icons">vertical_align_top</i>
                                <input type = "file"  name="input" accept="audio/*"/>
                            </div>    
                            <div class = "file-path-wrapper col s9">
                               <input class = "file-path validate" type = "text" placeholder = "Upload file" />
                            </div>
                        </div>
                </div>
                <button class="btn col s12 cyan" id="signup" type="button">Sign up</button>
                <button class="btn col s12 cyan" id="login" style="display:none;" type="button">Login</button>
            </form>
            <div id="login-button" class="btn-floating btn-large waves-effect waves-light red" style="position:absolute;bottom:-20px;right:-20px;"><i class="material-icons">input</i></div>
        </div>
    </div>
    </div>
<script>
    $(document).ready(function(){
        player=document.createElement('audio');
        document.getElementById('play').addEventListener('click',function(){
            if(document.getElementById('play-icon').innerHTML=="play_arrow"){
                player.play();
                document.getElementById('play-icon').innerHTML="pause";
            } else{
                player.pause();
                document.getElementById('play-icon').innerHTML="play_arrow";
            }
        });
        var audioBlob;
        var audioChunks = [];
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
            const mediaRecorder = new MediaRecorder(stream);
            document.getElementById('rcstart').addEventListener('click',function(){
                console.log("STARTED")
                var audioChunks = [];
                player.pause();
                document.getElementById('play-icon').innerHTML="play_arrow";
                document.getElementById('rcstart').style.backgroundColor='red';
                document.getElementById('rcstop').style.backgroundColor='#00bcd4';
                mediaRecorder.start();
            });
            document.getElementById('rcstop').addEventListener('click',function(){
                mediaRecorder.stop();
                console.log("STOPPED")
            });
            mediaRecorder.ondataavailable=function(event){
                audioChunks.push(event.data);
            }        
            mediaRecorder.onstop = function(e) {
                audioBlob = new Blob(audioChunks,{ 'type' : 'audio/wav' });
                console.log("STOPPING")
                document.getElementById('rcstop').style.backgroundColor="red";
                document.getElementById('rcstart').style.backgroundColor="#00bcd4";
                const audioUrl = URL.createObjectURL(audioBlob);
                player.src=audioUrl;
                document.getElementById('down').href=audioUrl;
                console.log(audioUrl);
            }
                                    
            }).catch(function(err){
                    console.log(err);
                    swal("Error","Not supported","error")
        });    
            
        document.getElementById('signup').addEventListener('click',function(e){
            e.preventDefault();
            var xhr=new XMLHttpRequest();
            xhr.open("POST","http://"+window.location.hostname+"/signup?name="+document.getElementById('name').value,false);
            var formData = new FormData(document.getElementById('form'));
            xhr.onreadystatechange=function(){
                if(this.readyState==4){
                    var x=JSON.parse(this.responseText);
                    if(x.code=="OK"){
                        window.location.href = '/dash';
                    } else{
                        swal({
                            title:"Error",
                            text:"Invalid details.",
                            type:"error"
                        });
                    }
                }
            }
            xhr.send(formData);
        });
        document.getElementById('login').addEventListener('click',function(e){
            e.preventDefault();
            var xhr=new XMLHttpRequest();
            xhr.open("POST","http://"+window.location.hostname+":3000/login",true);
            var formData = new FormData(document.getElementById('form'));
            xhr.onreadystatechange=function(){
                console.log(xhr);
                if(this.readyState==4){
                    var x=JSON.parse(this.responseText);
                    if(x.code=="OK"){
                        window.location.href='/dash';
                    } else{
                        swal({
                            title:"Error",
                            text:"Invalid details.",
                            type:"error"
                        });
                    }
                } 
            }
            xhr.send(formData);
        });
        document.getElementById('login-button').addEventListener('click',function(){
            document.getElementById('signup').style.display="none";
            document.getElementById('name-row').style.display="none";
            document.getElementById('login').style.display="block";
            document.getElementById('rcstop').style.backgroundColor='#00bcd4';
            player.pause();
            document.getElementById('play-icon').innerHTML="play_arrow";
        });
    });
</script>
</body>
</html>